%div#marker-nav
    %img{:src => "navigation-arrow.png", :class => "left disabled"}
    %span.marker-title Navigator Bar Here
    %img{:src => "navigation-arrow.png", :class => "right disabled"}
%div{:id => "map_canvas", :style => "width:100%; height:100%"}
%div{:id => "marker-detail", :class => "child-screen"}
    %div.content Some Test Content
    %button.close Close
</div>

